<ion-view title="Visita" 
          hide-back-button="true" >
    <ion-content scroll="true"
                 overflow-scroll="true"
                 has-bouncing="false"
                 padding="0">
        <h1>Calificación del cliente:</h1>
        <ion-list type="card">
            <ion-item class="card" 
                      ng-repeat="opcion in visita.opciones"
                      ui-sref="app.visita.opcion({opcionId: opcion.id})">
                <div class="row row-center item-text-wrap">
                    <div class="col col-60">
                        <div class="row">
                            <h3 class="title">{{opcion.fecha}}</h3>
                        </div>
                        <div class="row">
                            <h3 class="title">{{cliente.hora}}</h3>
                        </div>
                    </div>
                    <div class="col">{{cliente.empresa}}</div>
                    <div class="col col-20">{{cliente.direccion}}</div>
                    <div class="col col-10"><i class="icon ion-ios7-arrow-forward"></i></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>